---
import { getPath } from "@/utils/getPath";
import { getPostPath } from "@/utils/getPostPath";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog", ({ data }) => !data.draft);
  const postResult = posts.map(post => {
    const oldSlug = getPath(post.id, post.filePath, false).replace(/^\//, "");
    return {
      params: { slug: oldSlug },
      props: { redirectTo: getPostPath(post.id, post.filePath) },
    };
  });

  return postResult;
}

const { redirectTo } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0;url=${redirectTo}`} />
    <link rel="canonical" href={redirectTo} />
    <meta name="robots" content="noindex" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>
      Redirecting to <a href={redirectTo}>{redirectTo}</a>...
    </p>
  </body>
</html>
