---
import type { CollectionEntry } from "astro:content";
import IconCategory from "@/assets/icons/IconCategory.svg";
import { SITE } from "@/config";
import { getCategoryFromFilePath } from "@/utils/getPostPath";

type Props = {
  hideEditPost?: CollectionEntry<"blog">["data"]["hideEditPost"];
  class?: string;
  post: CollectionEntry<"blog">;
};

const { hideEditPost, post, class: className = "" } = Astro.props;

const { slug: categorySlug, name: categoryName } = getCategoryFromFilePath(
  post.filePath
);

const href = `/post/${categorySlug}/`;
const showCategory =
  SITE.editPost.enabled && !hideEditPost && categorySlug.trim() !== "";
---

{
  showCategory && (
    <a
      href={href}
      class:list={[
        "flex justify-baseline gap-1.5 opacity-80 hover:text-accent",
        className,
      ]}
    >
      <IconCategory class="inline-block" />
      <span>{categoryName}</span>
    </a>
  )
}
